* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
html,
body {
  width: 100%;
  height: 100%;
}
#header {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  background-color: #e7e8e9;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 999;
}
.logo a {
  text-decoration: none;
  color: black;
  font-size: 28px;
}
.navbar {
  height: 45px;
  width: 550px;
  background-color: #e7e8e9;
  border-radius: 8px;
}
.nav-links {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-links span,
.nav-title,
.navbar-controll {
  display: none;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.navbar-controll {
  height: 45px;
  width: 45px;
  background-color: #e7e8e9;
  border-radius: 8px;
  position: relative;
  z-index: 9999;
}
.navbar-controll .bar {
  height: 1px;
  width: 20px;
  background-color: black;
}

.navbar-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 990;
  transition: backdrop-filter 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  display: none;
}

@media (max-width: 768px) {
  #header {
    justify-content: space-between;
    padding: 0 5%;
  }
  .navbar {
    height: 350px;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 0;
    z-index: 995;
    transition: all 0.5s ease-in-out;
  }
  .navbar.on {
    top: 0;
  }
  .navbar.off {
    top: -360px;
  }
  .nav-links {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5%;
    padding-bottom: 32px;
    background-color: #e7e8e9;
  }
  .nav-title {
    height: 95px;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 18px;
    padding-top: 50px;
  }
  .nav-links span {
    display: inline-block;
    font-size: 10px;
    opacity: 0.5;
    margin-right: 40px;
  }
  .nav-links a {
    font-size: 28px;
  }
  .navbar-controll {
    display: block;
    position: relative;
  }
  .navbar-controll .bar {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .navbar-controll.open-navbar .bar-1 {
    transform: translate(-50%, calc(-50% - 4px));
    transition: transform 0.3s ease;
    transition-delay: 0.5s;
  }
  .navbar-controll.open-navbar .bar-2 {
    transform: translate(-50%, calc(-50% + 4px));
    transition: transform 0.3s ease;
    transition-delay: 0.5s;
  }
  .navbar-controll.close-navbar .bar-1 {
    transform: translate(-50%) rotate(45deg);
    transition: transform 0.3s ease;
  }
  .navbar-controll.close-navbar .bar-2 {
    transform: translate(-50%) rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .navbar-bg {
    display: block;
  }
  .navbar-bg.on {
    top: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
  }
  .navbar-bg.off {
    top: -105vh;
  }
}
